# **Lazy Predict**

*Lazy Predict helps build basic models without much code and helps understand which models work better without parameter tuning.*

> [Lazy Predict Documentation](https://lazypredict.readthedocs.io/en/latest/)

In [ ]:
!pip install lazypredict

In [2]:
# Import Library.
import pandas as pd
import lazypredict

# **Lazy Classifier**

In [3]:
# Load Dataset.
data = pd.read_csv(
    "https://raw.githubusercontent.com/edlgg/ML_and_DM_Social_Network/master/CE802_Ass_2019_Data.csv"
)
data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F12,F13,F14,F15,F16,F17,F18,F19,F20,Class
0,0,0,16,2.02,0.52,-2.35,-1.98,-0.70,85,6,...,-0.07,1.08,15,-0.63,-3.49,-1.68,0.02,15.3,NaN,True
1,0,0,86,-0.90,2.75,0.14,0.83,-0.06,107,1,...,0.17,1.06,-8,-1.21,0.34,0.36,0.61,10.1,NaN,True
2,1,1,165,0.73,1.05,0.10,2.57,-1.65,41,5,...,0.04,0.42,-6,-0.46,-0.62,1.67,2.60,11.0,1.55,False
3,1,1,191,-1.50,0.79,0.33,1.24,1.35,17,2,...,1.74,1.74,15,0.47,0.63,0.08,0.19,6.3,0.95,False
4,1,1,13,0.25,-1.19,-0.90,2.67,0.22,12,8,...,-0.39,1.25,25,-0.09,-2.41,-0.53,-0.77,10.5,NaN,True

In [4]:
# Split the dataset into features and the target variable.
X = data.iloc[:, :-2]
y = data.iloc[:, -1]

# Feature Scaling.
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

# Split the dataset into the Training set and Test set.
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
from lazypredict.Supervised import LazyClassifier

clf = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)

models

# **Lazy Regressor**

In [6]:
# Load Dataset.
data = pd.read_csv(
    "https://raw.githubusercontent.com/albanda/CE888/master/lab3/dataset_Facebook.csv",
    delimiter=";",
)

# Drop Missing Values.
data = data.dropna()

data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.00,2752,5091,178,109,159,3078,1640,119,4,79.00,17.00,100
1,139441,Status,2,12,3,10,0.00,10460,19057,1457,1361,1674,11710,6112,1108,5,130.00,29.00,164
2,139441,Photo,3,12,3,3,0.00,2413,4373,177,113,154,2812,1503,132,0,66.00,14.00,80
3,139441,Photo,2,12,2,10,1.00,50128,87991,2211,790,1119,61027,32048,1386,58,1572.00,147.00,1777
4,139441,Photo,2,12,2,3,0.00,7244,13594,671,410,580,6228,3200,396,19,325.00,49.00,393

In [7]:
# Encoding Categorical Values.
from sklearn.preprocessing import LabelEncoder

data[["Type"]] = data[["Type"]].apply(LabelEncoder().fit_transform)

# Split the dataset into features and the target variable.
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

# Feature Scaling.
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

# Split the dataset into the Training set and Test set.
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
from lazypredict.Supervised import LazyRegressor

reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)
models, predictions = reg.fit(X_train, X_test, y_train, y_test)

models