# **PyCaret AutoML**

![PyCaret AutoML](https://raw.githubusercontent.com/pycaret/pycaret/master/docs/images/logo.png)

> [PyCaret Documentation](https://pycaret.gitbook.io/docs/)

In [ ]:
!pip install pycaret
!pip install shap
!pip install numpy --upgrade --ignore-installed
!pip install markupsafe==2.0.1

In [1]:
import jinja2
import pandas as pd

data = pd.read_csv(
    "http://www.creditriskanalytics.net/uploads/1/9/5/1/19511601/hmeq.csv"
)
data.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [ ]:
from pycaret.classification import *

In [ ]:
loan_setup = setup(data=data, target="BAD", session_id=3435, ignore_features=None)

In [ ]:
loan_setup

In [ ]:
compare_models(fold=5)

In [ ]:
extra_trees_model = create_model("et")

In [ ]:
tuned_et_model = tune_model(extra_trees_model, optimize="AUC")

In [ ]:
plot_model(tuned_et_model, plot="auc")

In [ ]:
plot_model(tuned_et_model, plot="pr")

In [ ]:
plot_model(tuned_et_model, plot="boundary")

In [ ]:
plot_model(tuned_et_model, plot="feature")

In [ ]:
plot_model(tuned_et_model, plot="confusion_matrix")

In [ ]:
evaluate_model(tuned_et_model)

In [ ]:
predict_model(tuned_et_model)

In [ ]:
extra_trees_final = finalize_model(tuned_et_model)
extra_trees_final

In [ ]:
interpret_model(tuned_et_model)

In [ ]:
interpret_model(tuned_et_model, plot="correlation")

In [ ]:
save_model(tuned_et_model, "extra_trees_model")

In [ ]:
load_extra_trees = load_model("extra_trees_model")

In [ ]:
load_extra_trees